.dashboard-header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.dashboard-body{
    margin-top: 15px;
}
.mt15{
    margin-top: 15px;
}
.project-detail th{
    width: 20%;
    text-align: right;
}
.title-ico a{
    margin-right: 10px;
}
.progress-content{
    width: 200px;
    height: 15px;
    border:1px solid #ddd;
}
.progress-content .progress-in{
    height: 13px;
    background: #428bca;
}
.create-line{
    margin: 10px;
}
.level-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 16px;
    border:2px solid #ddd;
    border-radius: 10px;
    font-weight: bold;
}
.level-circle-1{
    border-color: #CE3506;
    color: #CE3506;
}
.level-circle-2{
    border-color: #A606CE;
    color: #A606CE;
}
.level-circle-3{
    border-color: #0CCE06;
    color: #0CCE06;
}
.level-circle-4{
    border-color: #056EB6;
    color: #056EB6;
}