<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.10.0.custom.css" rel="stylesheet">
	<link href="/css/dashboard.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
	<div class="row bg-primary dashboard-header">
		<div class="col-md-2 col-md-offset-10">


			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
				        aria-expanded="false">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<%= user.username %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">个人中心</a></li>
					<li><a href="/user/logout">退出登陆</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>

