<div class="col-md-2">
	<div class="list-group">
		<a href="/dashboard/" class="list-group-item <% if(routes.dashboard){ %>active<% } %>">首页</a>
		<a href="/project/" class="list-group-item <% if(routes.project){ %>active<% } %>">项目</a>
		<a href="/task/" class="list-group-item <% if(routes.task){ %>active<% } %>">任务</a>
		<a href="/bug/" class="list-group-item  <% if(routes.bug){ %>active<% } %>">bug</a>
	</div>
</div>