<% include ../header %>
<div class="container-fluid dashboard-body">
	<div class="row">

		<% include ../sidebar %>

		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">项目列表</h3>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>项目名称</th>
						<th>开始日期</th>
						<th>结束日期</th>
						<th>状态</th>
						<th>预计工时</th>
						<th>总消耗</th>
						<th>总剩余</th>
						<th>进度</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>mofi</td>
						<td>2010-01-01</td>
						<td>2010-02-01</td>
						<td>进行中</td>
						<td>100</td>
						<td>80</td>
						<td>20</td>
						<td>
							80%
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
<% include ../footer %>